<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Clients', clients_path %>
      </li>
      <li>
        <%= link_to 'Add New Client', new_client_path %>
      </li>
    </ul>
  </nav>
</aside>
